{# Purpose of this template: Display pictures in html mailings #}
{#
<ul>
{% for picture in items %}
    <li>
        <a href="{{ url('mumuimagemodule_picture_display', { 'id': picture.id }) }}
        ">{{ picture.getTitleFromDisplayPattern() }}
        </a>
    </li>
{% else %}
    <li>{{ __('No pictures found.') }}</li>
{% endfor %}
</ul>
#}

{{ include('@MUMUImageModule/ContentType/itemlist_picture_display_description.html.twig') }}
