{# Purpose of this template: Display albums in html mailings #}
{#
<ul>
{% for album in items %}
    <li>
        <a href="{{ url('mumuimagemodule_album_display', { 'id': album.id }) }}
        ">{{ album.getTitleFromDisplayPattern() }}
        </a>
    </li>
{% else %}
    <li>{{ __('No albums found.') }}</li>
{% endfor %}
</ul>
#}

{{ include('@MUMUImageModule/ContentType/itemlist_album_display_description.html.twig') }}
