/* view pages */
div#z-maincontent.z-module-muimage table tbody tr td {
	vertical-align: top;
}
/* display pages */
div.muimageRightBox {
	float: right;
	margin: 0 1em;
	padding: .5em;
	width: 40%;
	/*border: 1px solid #666;*/
}

div.muimageRightBox h3 {
	color: #333;
	font-weight: 400;
	border-bottom: 1px solid #CCC;
	padding-bottom: 8px;
}

div.muimageRightBox p.manageLink {
	margin-left: 18px;
}

.muimageColourPicker {
	cursor: pointer;
}
/* validation */
input.required,textarea.required {
	border: 1px solid #00a8e6;
}

input.validation-failed,textarea.validation-failed {
	border: 1px solid #f30;
	color: #f30;
}

input.validation-passed,textarea.validation-passed {
	border: 1px solid #0c0;
	color: #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #f90;
	color: #fff;
	font-weight: 700;
}
/* edit pages */
div.muimageRelationLeftSide {
	float: left;
	width: 25%;
}

div.muimageRelationRightSide {
	float: right;
	width: 65%;
}

div.muimageAutoCompleteWrap {
	position: absolute;
	height: 40px;
	margin: 0;
	padding: 0;
	left: 260px;
	top: 10px;
}

div.muimageAutoComplete,div.muimageAutoCompleteWithImage {
	position: relative !important;
	top: 2px !important;
	left: 0 !important;
	width: 100px;
	background-color: #fff;
	border: 1px solid #888;
	margin: 0;
	padding: 0;
}

div.muimageAutoComplete ul,div.muimageAutoCompleteWithImage ul {
	margin: 0;
	padding: 0;
}

div.muimageAutoComplete ul li,div.muimageAutoCompleteWithImage ul li {
	margin: 0;
	padding: 0.2em 0 0.2em 20px;
	list-style-type: none;
	line-height: 1.4em;
	cursor: pointer;
	display: block;
	background-position: 2px 2px;
	background-repeat: no-repeat;
}

div.muimageAutoComplete ul li {
	background-image: url("../../../images/icons/extrasmall/tab_right.png");
}

div.muimageAutoCompleteWithImage ul li {
	background-image:
		url("../../../images/icons/extrasmall/agt_Multimedia.png");
}

div.muimageAutoComplete ul li.selected,div.muimageAutoCompleteWithImage ul li.selected
	{
	background-color: #ffb;
}

div.muimageAutoComplete ul li div.itemtitle,div.muimageAutoCompleteWithImage ul li div.itemtitle
	{
	font-weight: 700;
	font-size: 12px;
	line-height: 1.2em;
}

div.muimageAutoComplete ul li div.itemdesc,div.muimageAutoCompleteWithImage ul li div.itemdesc
	{
	font-size: 10px;
	color: #888;
}

button.muimageInlineButton {
	margin-top: 1em;
}
/**************** own styles ******************/
#muimage_body_header {
	background: #eee;
	float: left;
	padding: 1%;
	margin: 0 0 5px;
	width: 98%;
	border: #333 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#muimage_body_header a {
	padding: 0 5px 0 20px;
}

#thisalbum {
	border-bottom: #333 1px solid;
	/* float: left;
width: 98%; */
}

#thisalbum h2 {
	width: 80%;
	line-height: 1.2em;
}

#albumLeftBox {
	float: left;
	width: 50%;
}

#muimage_pictures {
	background: #eee;
	float: left;
	padding: 1%;
	margin: 0 0 5px;
	width: 98%;
	border: #333 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#muimage_pictures_header {
	float: left;
	width: 100%;
}

#muimage_pictures_header_left {
	float: left;
	width: 60%;
}

.muimage_add_picture {
	float: right;
	width: 90%;
	text-align: right;
	padding: 0 10px 0;
}

.muimage_picture_view {
	float: left;
	/*margin: 5px;*/
	width: 100px;
	border: 1px solid #333;
}

.muimage_picture_view_header {
	/*float: left;*/
	height: 25px;
	width: 90px;
	background: #ddd;
	font-size: 0.8em;
	padding: 5px;
	/* overflow: auto; neu */
	line-height: 1.0em;
}

.muimage_picture_view_header_left {
	width: 74px;
	float: left;
}

.muimage_picture_view_header_right {
	width: 16px;
	float: right;
}

.muimage_picture_view_content {
	float: left;
	width: 100px;
	height: 70px;
}

.muimage_picture_view_content img {
	width: 100px;
	height: 70px;
}

.muimage_picture_view_content_portrait {
	float: left;
	width: 80px;
	padding: 0 0 0 20px;
	height: 70px;
	background: #999;
}

.muimage_picture_view_content_square {
	float: left;
	width: 85px;
	padding: 0 0 0 15px;
	height: 70px;
	background: #999;
}

.muimage_picture_view_bottom {
	background: #eee;
	position: relative;
	float: left;
	width: 90px;
	height: 26px;
	font-size: 0.7em;
	padding: 2px 5px;
}
/***********albums style in view********************/
#muimage_albums_header {
	width: 100%;
	float: left;
}

#muimage_add_album {
	width: 30%;
	float: right;
	text-align: right;
	padding: 0 10px 0;
}

.muimage_view_album_container {
	width: 300px;
	height: 350px;
	float: left;
	border: #333 1px solid;
	background: #efefef;
	margin: 0 10px 10px;
}

.muimage_album_container_form {
	margin: 100px auto 10px;
	width: 160px;
}

.muimage_view_album_title {
	background: #ddd;
	padding: 5px 0;
	float: left;
	width: 100%;
	font-size: 1.2em;
	font-weight: bolder;
}

.muimage_view_album_title_action {
	background: #ddd;
	padding: 5px 5px 0;
	float: right;
	width: 20%;
	text-align: right;
	font-size: 1.2em;
	font-weight: bolder;
}

.muimage_display_album_title_action {
	background: #ddd;
	padding: 5px 0 0;
	float: right;
	width: 35%;
	text-align: right;
	font-size: 1.2em;
	font-weight: bolder;
}

.muimage_view_album_description {
	background: #ccc;
	padding: 5px 0;
	height: 30px;
	width: 100%;
	overflow: auto;
	float: left;
	font-size: 0.9em;
}

.muimage_view_album_description img {
	float: right;
	padding: 0 5px 0 0;
}

.muimage_view_album_image {
	background: #fff;
	padding: 0;
	float: left;
	height: 225px;
	width: 100%;
	overflow: hidden;
}

.muimage_album_portrait {
	padding: 0 0 0 35px;
	float: left;
}

.muimage_view_album_bottom {
	padding: 5px 0;
	height: 40px;
	overflow: auto;
	float: left;
	width: 100%;
	font-size: 0.7em;
}

.muimage_view_album_bottom ul li {
    float: left;
}

/*************albumstyle in display***************/
#muimage_albums {
	background: #eee;
	float: left;
	padding: 1%;
	margin: 0 0 5px;
	width: 98%;
	border: #333 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#album_header ul {
	list-style: none;
	margin: 0;
}

#album_header ul li {
	float: left;
	margin: 5px 0 0 0;
}

#muimage_albums_header {
	width: 100%;
	float: left;
}

#muimage_albums_header_left {
	width: 60%;
	float: left;
}

#muimage_add_album {
	width: 30%;
	float: right;
	text-align: right;
	padding: 0 10px 0;
}

.muimage_album_container {
	width: 200px;
	height: 280px;
	float: left;
	border: #333 1px solid;
	background: #efefef;
	margin: 0 10px 10px;
}

.muimage_album_title {
	background: #ddd;
	padding: 5px 0;
	float: left;
	width: 100%;
	height: 30px;
	font-size: 1.2em;
	font-weight: bolder;
}

.muimage_album_title a {
	padding: 0 0 0 5px;
	float: left;
	width: 25%;
}

.muimage_album_description {
	background: #ccc;
	padding: 5px;
	height: 30px;
	width: 190px;
	overflow: auto;
	float: left;
	font-size: 0.9em;
}

.muimage_album_description img {
	float: right;
	padding: 0 5px 0 0;
}

.muimage_album_image {
	background: #ddd;
	padding: 0;
	float: left;
	height: 150px;
	width: 100%;
	overflow: hidden;
}

.muimage_album_image_portrait {
	padding: 0 0 0 40px;
	float: left;
}

.muimage_album_bottom {
	padding: 5px 0;
	height: 40px;
	width: 100%;
	float: left;
	overflow: auto;
	font-size: 0.7em;
}

#muimage_body_footer {
	background: #eee;
	float: left;
	padding: 1%;
	margin: 0 0 5px;
	width: 98%;
	border: #333 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#muimage-user-album-hooks {
	padding: 20px 0 0 10px;
	float: left;
}
/*-----------PICTURE STYLE IN DISPLAY--------*/
#MUImage_body_left {
	float: left;
	width: 45%;
	padding: 0 2% 0 0;
}

#MUImage_body_left .z-panels {
	padding: 0 0 20px 0;
}

#MUImage_body_right {
	float: right;
	width: 45%;
	padding: 0 0 0 2%;
}

.movecursor {
    cursor: move;	
}

/*-----------JQUERY--------------*/
#basic_accordion h3 {
	float: left;
	width: 98%;
	padding: 1% !important;
}
/*-----------BLOCKS---------------*/
#muimage-block-slideshow {
	width: 100%;
	float: left;
	position: relative;
	margin: 0 0 20px 0;
}

.muimage-block-slideshow-pictures {
	position: absolute;
}

#slideshow-link {
	display: block;
	float: left;
	clear: both;
	position: relative;
	margin: 170px 0 0 0;
}
/*-------------------RESPONSIVE SLIDESHOW-------------------*/
#MUImage_user_template {
	float: right;
}



/**********SORTABLE*********************/

#muimage_pictures_content ul {
	list-style: none;
}

#muimage_pictures_content ul li {
	float: left;
	margin: 3px;
}

/************ROATATE******************/


.rotateButtonRight {
	display: none; 
	width: 16px; 
	height: 16px; 
	position: absolute; 
	right: 0; 
	bottom: 0;
}

.rotateButtonLeft {
	display: none; 
	width: 16px; 
	height: 16px; 
	position: absolute; 
	left: 0; 
	bottom: 0;
}

@media screen and (max-width: 600px) {
	h1 {
		font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.callbacks_nav {
		top: 47%;
	}
}