{# purpose of this template: albums index view #}
{% extends routeArea == 'admin' ? 'MUMUImageModule::adminBase.html.twig' : 'MUMUImageModule::base.html.twig' %}
{% block title __('albums') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the album section of the M u image application.') }}</p>
{% endblock %}
