{# purpose of this template: inclusion template for managing related albums #}
{% if displayMode is not defined or displayMode is empty %}
    {% set displayMode = 'choices' %}
{% endif %}
{% if allowEditing is not defined or allowEditing is empty %}
    {% set allowEditing = false %}
{% endif %}
{% if panel|default(false) == true %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAlbums">{{ __('Albums') }}</a></h3>
        </div>
        <div id="collapseAlbums" class="panel-collapse collapse in">
            <div class="panel-body">
{% else %}
    <fieldset class="albums">
{% endif %}
    <legend>{{ __('Albums') }}</legend>
    {% if displayMode == 'choices' %}
        {{ form_row(attribute(form, alias)) }}
    {% elseif displayMode == 'autocomplete' %}
                
    {% endif %}
{% if panel|default(false) == true %}
            </div>
        </div>
    </div>
{% else %}
    </fieldset>
{% endif %}
