{# purpose of this template: pictures index view #}
{% extends routeArea == 'admin' ? 'MUImageModule::adminBase.html.twig' : 'MUImageModule::base.html.twig' %}
{% block title __('Pictures') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <div class="muimagemodule-picture muimagemodule-index">
        <p>{{ __('Welcome to the picture section of the Image application.') }}</p>
    </div>
{% endblock %}
