{# purpose of this template: show output of external action in user area #}
{% extends 'MUMUImageModule::base.html.twig' %}
{% block title __('External') %}
{% block content %}
    <div class="mumuimagemodule-external mumuimagemodule-external">
        <p>Please override this template by moving it from <em>/modules/MUMUImageModule/Resources/views/User/external.html.twig</em> to either your <em>/themes/YourTheme/Resources/views/modules/MUMUImageModule/User/external.html.twig</em> or <em>/config/templates/MUMUImageModule/User/external.html.twig</em>.</p>
    </div>
{% endblock %}
