{# Purpose of this template: Display search options #}
<input type="hidden" id="mUImageModuleActive" name="active[MUImageModule]" value="1" />
{% if active_album is defined %}
    <div>
        <input type="checkbox" id="active_mUImageModuleAlbums" name="mUImageModuleSearchTypes[]" value="album"{% if active_album %} checked="checked"{% endif %} />
        <label for="active_mUImageModuleAlbums">{{ __('Albums', 'muimagemodule') }}</label>
    </div>
{% endif %}
{% if active_picture is defined %}
    <div>
        <input type="checkbox" id="active_mUImageModulePictures" name="mUImageModuleSearchTypes[]" value="picture"{% if active_picture %} checked="checked"{% endif %} />
        <label for="active_mUImageModulePictures">{{ __('Pictures', 'muimagemodule') }}</label>
    </div>
{% endif %}
{% if active_avatar is defined %}
    <div>
        <input type="checkbox" id="active_mUImageModuleAvatars" name="mUImageModuleSearchTypes[]" value="avatar"{% if active_avatar %} checked="checked"{% endif %} />
        <label for="active_mUImageModuleAvatars">{{ __('Avatars', 'muimagemodule') }}</label>
    </div>
{% endif %}
