{# Purpose of this template: Display albums within an external context #}
{% for album in items %}
    <h3>{{ album.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('muimagemodule_album_display', { 'id': album.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
