{# Purpose of this template: Display pictures within an external context #}
{% for picture in items %}
    <h3>{{ picture|muimagemodule_formattedTitle }}</h3>
    <p><a href="{{ path('muimagemodule_picture_display', { 'id': picture.getId() }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
