{# purpose of this template: reusable display of entity categories #}
{% if obj.categories is defined %}
    {% if panel|default(false) == true %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseCategories">{{ __('Categories') }}</a></h3>
            </div>
            <div id="collapseCategories" class="panel-collapse collapse in">
                <div class="panel-body">
    {% else %}
        <h3 class="categories">{{ __('Categories') }}</h3>
    {% endif %}
    <ul class="category-list">
    {% for catMapping in obj.categories %}
        <li>{{ catMapping.category.display_name[app.request.locale] }}</li>
    {% endfor %}
    </ul>
    {% if panel|default(false) == true %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
